<!DOCTYPE html>
<html lang="en">
<head>
  <title>Up Coming</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon-img.png" />
  <link rel="stylesheet" href="../component.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" />
  <link rel="stylesheet" href="/components/popular/popular.css">
</head>

<body>
  <!-- Navigation Bar -->
  <nav>
    <h1>SALESFORCE_TRAINING</h1>
    <ul>
      <li><a href="../../main.html">Home</a></li>
      <li><a href="/components/popular/popular.html">Hit</a></li>
      <li><a href="/components/top_rated/top_rated.html">Top-notch</a></li>
      <li><a href="/components/trending/trending.html">Trending</a></li>
      <li><a href="/components/up_coming/up_coming.html">Up Coming</a></li>
    </ul>
  </nav>

  <!-- Up Coming Section -->
  <section id="trending-container" class="card-container">
    <h2 >Up Coming</h2>
    <div id="trending-content" class="card-container"></div>
  </section>

  <script src="./up_coming.js"></script>
</body>
</html>
